.happyr-dialog-clearfix {
    *zoom: 1;
}
.happyr-dialog-clearfix:before,
.happyr-dialog-clearfix:after {
    display: table;
    content: "";
    line-height: 0;
}
.happyr-dialog-clearfix:after {
    clear: both;
}
