
.happyr-dialog {
    position: fixed;
    top: 10%;
    width: 90%;
    left: 5%;
    margin-left: 0;
    max-height: 85%;
}

.happyr-dialog-body{
    min-height: 10em;
}

.happyr-dialog-footer .padder{
    padding: 7px 15px 15px;
}


@media screen and (min-width: 30em) {
    .happyr-dialog{
        /* important stuff */
        top: 10%;
        height: auto;

        left: 10%;
        width: 80%;
    }
}

@media screen and (min-width: 50em) {
    .happyr-dialog{
        /* important stuff */
        left: 50%;

        width: 40em;
        margin-left: -20em;
    }
}

@media screen and (max-height: 20em) {
    .happyr-dialog-body{
        min-height: 3em;
    }

    .happyr-dialog-footer .padder{
        padding: 1px 15px 3px;
    }


}

@media screen and (max-width: 50em) and (max-height: 20em){
    .happyr-dialog{
        /* Make it wider as well */
        width: 96%;
        left: 2%;
    }
}

@media screen and (min-height: 35em){
    /**
     * We don't need it 85% high any more
     */
    .happyr-dialog{
        max-height: 80%;
    }
}
